body
{
    background-image: url(fondo.jpg);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1{
    font-family: cursive;
    font-style: italic;
    font-weight: bold;
}

h4
{
    color:rgb(255, 0, 242);
}

#camera
{
    width: 500px;
    height: 400px;
    border:1px solid rgb(216, 99, 242);
}

img
{
    width: 37%;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0 6px 8px 0 rgb(235, 73, 222);
}

.column
{
    display: inline;
    padding: 10px;
}
img:hover{
    border-radius: 140px;
}
.copy_right_footer {
    position: fixed;
    color: #ff98fc;
    bottom: 0;
    width: 100%;
    background-color: #f96de2;
    line-height: 3;
    text-align: center;
 }


#logo_img
{
    width: 150px;
    border-radius: 100px;
}

#uni
{
    background-color: #f96de2;
}
